<div class="col-xs-12 no-gutter">

  <!-- categories bar -->
  <div class="hidden-xs hidden-sm col-md-12 categories-white-wrapper">
    <div class="hidden-xs hidden-sm col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 text-center no-gutter">
      <div class="categories-bar">
        <div class="container">
          <div class="row">

            <ul>
              <div class="dropdown">
                <li class="<%= category_filter_css_class("women") %>" class="dropbtn"><%= link_to "WOMEN", products_path(category: "women") %></li>
                <div class="dropdown-content">
                <li class="<%= category_filter_css_class("dresses") %>"><%= link_to "Dresses", products_path(category: "dresses") %></li>
                <li class="<%= category_filter_css_class("jackets & coats") %>"><%= link_to "Jackets & Coats", products_path(category: "jackets & coats") %></li>
                <li class="<%= category_filter_css_class("knitwear") %>"><%= link_to "Knitwear", products_path(category: "knitwear") %></li>
                <li class="<%= category_filter_css_class("jeans & denim") %>"><%= link_to "Jeans & Denim", products_path(category: "jeans & denim") %></li>
                <li class="<%= category_filter_css_class("jumpsuits & playsuits") %>"><%= link_to "Jumpsuits & Playsuits", products_path(category: "jumpsuits & playsuits") %></li>
                <li class="<%= category_filter_css_class("tops") %>"><%= link_to "Tops", products_path(category: "tops") %></li>
                <li class="<%= category_filter_css_class("skirts") %>"><%= link_to "Skirts", products_path(category: "skirts") %></li>
                <li class="<%= category_filter_css_class("trousers") %>"><%= link_to "Trousers", products_path(category: "trousers") %></li>
                <li class="<%= category_filter_css_class("Nightwear & Lingerie") %>"><%= link_to "Nightwear & Lingerie", products_path(category: "nightwear & lingerie") %></li>
                <li class="<%= category_filter_css_class("bags") %>"><%= link_to "Bags", products_path(category: "bags") %></li>
                <li class="<%= category_filter_css_class("shoes") %>"><%= link_to "Shoes", products_path(category: "shoes") %></li>
                <li class="<%= category_filter_css_class("accessories") %>"><%= link_to "Accessories", products_path(category: "accessories") %></li>

                </div>
              </div>


              <div class="dropdown">
                <li class="<%= category_filter_css_class("men") %>" class="dropbtn"><%= link_to "MEN", products_path(category: "men") %></li>
                <div class="dropdown-content">
                <li class="<%= category_filter_css_class("tops & t-shirts") %>"><%= link_to "Tops & T-shirts", products_path(category: "tops & t-shirts") %></li>
                <li class="<%= category_filter_css_class("coats & jackets") %>"><%= link_to "Coats & Jackets", products_path(category: "coats & jackets") %></li>
                <li class="<%= category_filter_css_class("knitwear") %>"><%= link_to "Knitwear", products_path(category: "knitwear") %></li>
                <li class="<%= category_filter_css_class("jeans & denim") %>"><%= link_to "Jeans & Denim", products_path(category: "jeans & denim") %></li>
                <li class="<%= category_filter_css_class("shirts") %>"><%= link_to "Shirts", products_path(category: "shirts") %></li>
                <li class="<%= category_filter_css_class("trousers & shorts") %>"><%= link_to "Trousers & Shorts", products_path(category: "trousers & shorts") %></li>
                <li class="<%= category_filter_css_class("suits & tailoring") %>"><%= link_to "Suits & Tailoring", products_path(category: "suits & tailoring") %></li>
                <li class="<%= category_filter_css_class("underwear & nightwear") %>"><%= link_to "Underwear & Nightwear", products_path(category: "underwear & nightwear") %></li>
                <li class="<%= category_filter_css_class("sportswear") %>"><%= link_to "Sportswear", products_path(category: "sportswear") %></li>
                <li class="<%= category_filter_css_class("bags") %>"><%= link_to "Bags", products_path(category: "bags") %></li>
                 <li class="<%= category_filter_css_class("shoes") %>"><%= link_to "Shoes", products_path(category: "shoes") %></li>
                 <li class="<%= category_filter_css_class("accessories") %>"><%= link_to "Accessories", products_path(category: "accessories") %></li>
               </div>
             </div>

             <div class="dropdown">
               <li class="<%= category_filter_css_class("kids") %>" class="dropbtn"><%= link_to "KIDS", products_path(category: "kids") %></li>
               <div class="dropdown-content">
               <li class="<%= category_filter_css_class("baby gifts") %>"><%= link_to "Baby Gifts", products_path(category: "girls clothes") %></li>
               <li class="<%= category_filter_css_class("girls clothes") %>"><%= link_to "Girls Clothes", products_path(category: "girls clothes") %></li>
               <li class="<%= category_filter_css_class("boys clothes") %>"><%= link_to "Boys Clothes", products_path(category: "boys clothes") %></li>
               <li class="<%= category_filter_css_class("accessories") %>"><%= link_to "Accessories", products_path(category: "accessories") %></li>
               </div>
             </div>

             <li class="<%= category_filter_css_class("shops") %>"><%= link_to "SHOPS", products_path(category: "shops") %></li>

             <li class="<%= category_filter_css_class("bags") %>"><%= link_to "BRANDS", products_path(category: "bags") %></li>

             <li class="<%= category_filter_css_class("coats") %>"><%= link_to "TOP SALES", products_path(category: "coats") %></li>
           </div>
         </div>
       </div>
     </div>
   </div>
 </ul>
 <!-- end categories bar -->

</div>
