<div class="col-xs-12 no-gutter navbar-white-wrapper">

  <!-- Logo -->
  <div class="col-xs-6 col-sm-6 col-md-3 no-gutter">
    <div class="col-xs-12 col-sm-12 col-lg-offset-4 col-lg-8 no-gutter">
      <div class="navbar-left-logo">


        <%= link_to root_path, class: "logoo" do %>
        <%= image_tag "logo.svg" %>
        <% end %>

      </div>
    </div>
  </div>
  <!-- End Logo -->

  <!-- Searchbar -->
  <div class="hidden-xs hidden-sm col-md-6 no-gutter">
    <div class="navbar-center-search">

      <form action="/products" method="get" class="navbar-center-search-form">
        <%= hidden_field_tag :category, @category %>
        <span class="fa fa-search"></span>
        <input type="text" name="search_term" class="navbar-center-search-bar" placeholder="Search..." value="<%= @search_term %>">
      </form>

    </div>
  </div>
  <!-- End Searchbar

  <!-- Right Navigation -->
  <div class="hidden-xs hidden-sm col-md-3 no-gutter">
    <div class="col-xs-12 col-sm-12 col-lg-8 no-gutter">
      <div class="navbar-right-links">

        <% if user_signed_in? %>

        <!-- Different navigation for logged in / not logged in -->
        <!-- Add product button-->
        <div class="">
          <% if current_user && current_user.merchant %>
          <%= link_to "Add product", new_merchant_product_path %>
          <% end %>
        </div>

        <div class="">
          <% if current_user && current_user.merchant %>
          <%= link_to "List my Products", merchant_products_path%>
          <% end %>
        </div>
        <!-- End Add product button -->

        <!-- Profile picture and Dropdown -->
        <div class="navbar-wagon-item">
          <div class="dropdown">

            <% if current_user.photo.present? %>
            <%= image_tag current_user.photo.url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

            <% else %>
            <%= image_tag "noavatar.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
            <% end %>

            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to profile_user_path do %>
                <i class="fa fa-user"></i> profile
                <% end %>
              </li>
              <li>
                <%= link_to account_wishlists_path do %>
                <i class="fa fa-star"></i> wishlist
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
        <!-- End Profile picture and Dropdown -->
        <!-- End Different navigation for logged in / not logged in -->

        <% else %>

        <!-- Sign up and Log in links -->
        <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "reg-color-black" %>

        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "reg-color-black" %>
        <!-- End Sign up and Log in links -->

        <% end %>

      </div>
    </div>
  </div>
  <!-- End Right Navigation -->

  <!-- Dropdown list (mobile) -->
  <div class="col-xs-6 col-sm-6 hidden-md hidden-lg no-gutter">
    <div class="navbar-right-mobile">

      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <% if user_signed_in?  %>
        <li><%= link_to "profile", profile_user_path %></li>
        <% else %>
        <li> <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "reg-color-black" %> </li>
        <% end %>

        <li><%= link_to "shop", products_path %></li>
      </ul>

    </div>
  </div>
  <!-- End Dropdown list (mobile) -->

</div>
