<div class="text-center"><h1>Your Wishlists</h1>
  <p>Go to a product and click 'add to wishlist'</p>
</div>


<div class="container">

  <div class="row">

    <% @wishlists.each do |wishlist| %>

    <div class="col-xs-12 col-md-4">
      <div class="wishlist-wrapper">

        <h3><%= wishlist.name %></h3>

        <%= link_to account_wishlist_path(wishlist), method: :delete, data: { confirm: 'You are about to delete the wishlist, are you sure?'} do %>
        <i class="fa fa-times-circle"></i>
        <% end %>


        <% wishlist.wishlist_products.each do |wishlist_product| %>
        <div class="wishlist-content">

          <%= cl_image_tag wishlist_product.product.photo.url(:wishlist) %>
          <p><%= wishlist_product.product.name %></p>


          <%= link_to account_wishlist_product_path(wishlist_product), method: :delete, data: { confirm: 'You are about to delete the product from your wishlist, are you sure?'} do%>
          <i class="fa fa-times-circle"></i>
          <% end %>

        </div>


        <% end %>


      </div>

    </div>
 <% end %>
  </div>
</div>
