<div class="modal fade" id="addToWishlist" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close"
      data-dismiss="modal">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">
      Add product to Wishlist
    </h4>
  </div>

  <div class="modal-body">

<<<<<<< HEAD
    <% if user_signed_in? %>
    <div id="add-to-wishlist">
      <%= simple_form_for [@product, @wishlist_product] do |f| %>
      <% if @wishlists.any? %>
      <%= f.association :wishlist, collection: @wishlists %>
      or
      <% end %>
      <%= label_tag :new_wishlist_name %>
      <%= text_field_tag :new_wishlist_name %>
      <%= f.submit "add to wishlist" %>
      <% end %>
    </div>
    <% end %>
=======
        <% if user_signed_in? %>
        <div id="add-to-wishlist">
          <%= simple_form_for [@product, @wishlist_product] do |f| %>
          <% if @wishlists.any? %>
          <%= f.association :wishlist, collection: @wishlists %>
          <% end %>

          <p>add a new wishlist</p>
          <%= text_field_tag :new_wishlist_name %>
          <br><br>

          <%= f.submit "add to wishlist", class: "btn btn-primary" %>
          <% end %>
        </div>
        <% end %>
>>>>>>> 7442b476c660d7a1673667e77c79c69b6849b353


  </div>

<<<<<<< HEAD
  <div class="modal-footer">
    <button type="button" class="btn btn-default"
    data-dismiss="modal">
    Close
  </button>
  <button type="button" class="btn btn-primary">
    Save changes
  </button>
</div>
</div>
</div>
=======

        </div>
    </div>
>>>>>>> 7442b476c660d7a1673667e77c79c69b6849b353
</div>
