<%= render 'shared/catbar' %>

<div class="marginfix-top">
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-sm col-md-2">
      </div>
      <div class="col-xs-12 col-md-8">

        <div class="container-fluid text-center ">
          <div class="row">
            <div class="products">

              <% @products.each do |p| %>
              <%= link_to product_path(p) do %>
              <div class="col-xs-12 col-md-3 paddingfix">
                <div class="productshow-wrapper">
                  <div class="pimage"
                  style="background-image:
                  url('<%= p.photo %>')">

                </div>
                <div class="pname">


                  <h3><%= truncate(p.name.strip, length: 21) %></h3>
                </div>


                <div class="pcategory">
                 € <%= p.price %>
               </div>


             </div>
           </div>
           <% end %>
           <% end %>
         </div>
       </div>
     </div>
   </div>
   <div class="hidden-sm col-md-2">
   </div>
 </div>
</div>
</div>
<div class="marginfix"></div>
