<div class="container text-center ">
  <div class="row products">
    <% @products.each do |p| %>
    <div class="products-wrapper col-xs-12 col-sm-3">
      <div class="pimage">
        <%= image_tag "http://unsplash.it/300/200" %>
      </div>
      <div class="pname">
        <h3><%= p.name %></h3>
      </div>
      <div class="pbrand">
        <%= p.category %>
      </div>
      <hr/>
      <div class="pdescription">
        <%= p.description %>
      </div>
      <%= link_to "show product", product_path(p), class: "showproduct" %>
    </div>
    <% end %>
  </div>
</div>
