<!-- product -->
<div class="container_show">
  <div class="row">
    <div class="col-xs-12 col-md-6  col-md-offset-3 pshow-wrapper ">
      <!-- product content -->

      <div class="row">
        <div class="col-xs-12 col-md-6 paddingfix">

        <div class="pimage-show" style=" background-image: url('<%= @product.photo%> ">
        </div>

      </div>

      <div class="col-xs-12 col-md-6 ">

       <h1> <%= truncate(@product.name, length: 21) %> </h1>
       <%= @product.category %>

       <h3>€ <%= @product.price_cents %> </h3>

       <h3 class="margfix">Description </h3>
       <p> <%= truncate(@product.description, length: 50) %></p>

       <div class="showbuttons">
         <button class="btn btn-primary"> go to shop </button>
         <% if user_signed_in? %>
         <%= link_to "#addToWishlist", class: "btn btn-primary", "data-toggle" => "modal" do %>
         <i class="fa fa-plus-circle" aria-hidden="true"></i> Add to wishlist
         <% end %>
         <%= render "addToWishlist" %>
         <% else %>
         <%= link_to "add to wishlist", new_user_session_path, class: "btn btn-primary btn-lg]
         " %>
         <% end %>
       </div>
     </div>
   </div>

   <!-- end product content -->
   <!-- product end -->


<div class="row">
        <div class="col-xs-12 col-md-6  col-md-offset-3 paddingfix">
          <div class="show-wrapper">
            <div class="reviewintro">
              <h1>Reviews</h1>
              <div class="positionReview">
                <%= pluralize @product.reviews.size, "review" %>
              </div>
              <div id="reviews">
                <% if @product.reviews.blank? %>
                Be the first to leave a review for <%= @product.name %>
                <% else %>
                <% @product.reviews.each do |review| %>
                <div class="reviews-box">
                  <%= render 'reviews/show', review: review %>
                </div>
                <% end %>
                <% end %>
              </div>
              <%= render 'reviews/form', product: @product, review: @review %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
