<h1><%= @product.name %></h1>
<h2>
  <%= pluralize @product.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @product.reviews.blank? %>
    Be the first to leave a review for <%= @product.name %>
  <% else %>
    <% @product.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', product: @product, review: @review %>


<!-- app/views/restaurants/show.html.erb -->
