<!-- product -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 paddingfix">
      <div class="breadcrumbs-design-show">
        <%= render_breadcrumbs %>
      </div>
    </div>

    <div class="col-xs-12 col-md-8 col-md-offset-2 pshow-wrapper ">

      <!-- product content -->

      <div class="show-wrapper-new">


        <div class="pimage-show" style=" background-image: url('<%= @product.photo%>')">
        </div>

        <div class="psname">
          <h1> <%= truncate(@product.name.strip, length: 21) %> </h1>
          <h2> <%= @product.category %></h2>
          <h3>€ <%= @product.price %> </h3>
          <p> <strong> DESCRIPTION </strong><br> <%= truncate(@product.description, length: 100) %>  </p>
          <div class="showbuttons">

            <%= link_to "CHECK IT OUT", @product.url, class: "buttonshowpage", target: "_blank" %>

            <% if user_signed_in? %>
            <%= link_to "#addToWishlist", class: "buttonshowpage", "data-toggle" => "modal" do %>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>  ADD TO WISHLIST

            <% end %>
            <%= render "addToWishlist" %>


            <% else %>
            <%= link_to "#addToWishlist", class: "buttonshowpage", "data-toggle" => "modal" do %>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>  ADD TO WISHLIST
            <% end %>
            <% end %>
          </div>


          <% if user_signed_in? %>

          <h1>Reviews</h1>
          <div class="positionReview">
            <%= pluralize @product.reviews.size, "review" %>
          </div>
          <div id="reviews">
            <% if @product.reviews.blank? %>
            Be the first to leave a review for <%= @product.name %>
            <% else %>
            <% @product.reviews.each do |review| %>
            <div class="reviews-box">
              <%= render 'reviews/show', review: review %>
            </div>
            <% end %>
            <% end %>
          </div>
          <%= render 'reviews/form', product: @product, review: @review %>
          <% else %>
          <p style="color: blue;">* sign in to leave a review</p>

          <% end %>


        </div>



      </div>

    </div>
  </div>
</div>
