
<h1>List of Products</h1>
<% @products.each do |product| %>
<%= image_tag product.photo.url(:bright_face) %>
<h2><%= product.name %></h2>
<p><%= product.description %></p>
<p><%= product.price %></p>
<p><%= product.url %></p>
<%= link_to "Delete this product", ([:merchant,product]), method: :delete %>
<% end %>


<% if current_user && current_user.merchant %>
<h3> Test </h3>
<% end %>

