
<h1>Add new Product</h1>

<%= form_for [:merchant, @product] do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :price %>
<%= f.text_field :price %>
<%= f.label :description %>
<%= f.text_field :description %>
<<<<<<< HEAD
<%= f.label :photo %>
<%= f.file_field :photo %>
<%= f.hidden_field :photo_cache %>
=======
<%= f.label :category %>
<%= f.text_field :category %>
>>>>>>> 80b3884491f8b03bbc17dbfad793d2dfca3cc2c1
<%= f.label :URL %>
<%= f.text_field :url %>

<%= f.submit %>
<% end %>
