

<div class="col-xs-12">

  <div class="container">
    <div class="row">
      <div class="hidden-xs col-md-4">
      </div>
      <div class="paddingfix col-xs-12 col-md-4">
        <div class="row">
          <div class="profileheader text-center">

            <% if @user.photo.present? %>
            <%= image_tag @user.photo, class: "img-rounded" %>
            <% else %>
            <%= image_tag "noavatar.png", class: "img-rounded" %>
            <% end %>

            <h3 class="username"><%= @user.name %></h3>

          </div>
        </div>
        <div class="row">
          <div class="col-md-4 paddingfix">
            <div class="profilebutton">

           <i class="fa fa-pencil"></i>
            <p>edit profile</p>

            </div>
          </div>
          <div class="col-md-4 paddingfix">
            <div class="profilebutton">
            <i class="fa fa-list"></i>
            <p>show products</p>

            </div>
          </div>
          <div class="col-md-4 paddingfix">
            <div class="profilebutton">

              <i class="fa fa-plus"></i>
              <p>add product</p>

            </div>
          </div>

<%= simple_form_for @user, url: profile_user_path, method: :put  do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>



        </div>

      </div>
      <div class="hidden-xs col-md-4">
      </div>
    </div>
  </div>
</div>
